appdirs==1.4.4
asgiref==3.3.4
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.4
django-allauth==0.44.0
django-appconf==1.0.1
django-bootstrap-themes==3.1.3
django-bootstrap3==7.0.0
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.1
django-parler==2.2
django-registration-redux==1.4
djangorestframework==3.12.4
filelock==3.0.12
gmane==0.1.dev25
idna==2.10
image==1.5.33
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.2
networkx==2.5.1
numpy==1.20.3
oauthlib==1.0.3
parsedatetime==2.6
Pillow==8.2.0
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-openid==2.2.5
python-social-auth==0.2.14
python3-openid==3.2.0
pytz==2018.3
requests==2.25.1
requests-oauthlib==0.6.1
rjsmin==1.1.0
scipy==1.6.3
selenium==3.141.0
shell==1.0.1
six==1.16.0
social==0.1.dev3
splinter==0.14.0
sqlparse==0.4.1
stripe==2.58.0
urllib3==1.26.5
virtualenv==20.4.7
