<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title> {% block title %} News {% endblock %} </title>
    </head>
    <body>
        <!-- <div class="container"> -->
          
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="">WebSiteName</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'users:index' %}">Home</a></li>
                    <li><a href="{% url 'users:Startapper' %}">Startapper</a></li>
                    <li><a href="{% url 'users:Developer' %}">Developer</a></li>
                    <li><a href="{% url 'users:Practitioner' %}">Practitioner</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    {% if request.user.username %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> logout</a></li>
                    {% else %}
                    <li><a href="{% url 'register:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
            <div>
                {% block body %}

                {% endblock %}
            </div>

    </body>
</html>